body{
  margin: 0px;
  font-family: monospace;
  background-color: black;

}

.header {
 
  width: 100%;
  height: 100px;
  border-bottom: 3px #32b9cd solid;
 align-items: center; 
  
}

.titulo{
  margin: 0px;
  color :#32b9cd;
 
}

.container {

width: 80%;
margin: auto;
display: flex;

}

.header .container{

height: 100%;
justify-content: space-between;
align-items: center;

}

  .navbar{
  
    width: 500px;
    list-style:none;
    justify-content: space-between;
    align-items: center;
    color: orange; 
    padding: 0;
    display: flex;

  }

  p {
    color: white;
  }

  .barner {
    height: 500px;
    background-color: red;
    background-image: url("imgs/bg-jelly-fish-para-home.png");
    background-size: cover;
  }

  .barner .card {
    background-color: beige;
    height: 450px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;

  }
  

  .btn {
    font-family: monospace;
    margin-top: 10px;
    border: 0px;
    font-weight: 600;
    background-color:crimson;
    color: white;
    font-size: 18px;
    border-radius: 4px;
    padding: 10px 15px;

  }

  input {
    background-color: black;
    height: 30px;
    border: 2px solid crimson;
    border-radius: 4px;
  }  

.barner .card {
  color: crimson;

}  

.cdt{
  height: 500px;
  background-image: url("imgs/bg-jelly-fish-para-home.png");
  background-size: cover;  
}
.cdt .maid {
  background-color: beige;
  justify-content: center;
  height: 640px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto ;
  margin-top: 20px; 
  color: crimson;
 
}

.maid input {
  
  border: 2px solid crimson;
  border-radius: 5px;
   
}

.bt {
  font-family: monospace;
  margin-top: 10px;
  background-color: crimson;
  color: white;
  border:  0px;
  font-weight: 500;
  font-size: 15px;
  padding: 8px 8px;
  margin-bottom: 50px;
  border-radius: 4px;
}
